.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 80px;
}

.tituloText {
    color: #FE9B2E;
}

.botonRegistro {
    background-color: #000D20;
    color: white;
}

.botonRegistro:hover {
    background-color: #48CAC1;
}
