<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h2 id="inicio" class="fw-light lh-base mt-5"><span class="title fw-medium">¡Contáctanos!</span></h2>
                <p class="fs-16 text-muted mb-0">En SIGNS, estamos comprometidos a brindar apoyo y recursos a personas
                    que desean aprender y comunicarse a través del lenguaje de señas. Si tienes alguna pregunta,
                    comentario o necesitas más información sobre nuestros programas y servicios, no dudes en
                    contactarnos. Estamos aquí para ayudarte en tu viaje hacia la comunicación inclusiva y efectiva.</p>
            </div>
        </div>
    </div>
</section>

<section class="sm-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mt-5">
                <div>
                    <h5 class="text-muted fw-medium fs-14">Correo Electrónico</h5>
                    <p class="text-dark fs-16">test@signs.com</p>
                </div>
                <div class="mt-4">
                    <h5 class="text-muted fw-medium fs-14">Teléfono</h5>
                    <p class="text-dark fs-16">+52 449 564 8723</p>
                </div>
                <div class="mt-4">
                    <h5 class="text-muted fw-medium fs-14">Dirección</h5>
                    <p class="text-dark fs-16">09 Design Street, Downtown Victoria, <br />Australia</p>
                </div>
            </div>
            <div class="col-lg-8 mt-5">
                <form method="post" name="myForm">
                    <span id="error-msg"></span>
                    <div class="row g-3">
                        <div class="col-lg-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="nombre" placeholder="Tu nombre" />
                                <label class="text-muted" for="nombre">Tu nombre</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" placeholder="Tu correo electrónico" id="email" />
                                <label class="text-muted" for="email">Correo Electrónico</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" placeholder="Asunto" id="asunto" />
                                <label class="text-muted" for="asunto">Asunto</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-floating mb-3">
                                <textarea class="form-control" placeholder="Tu mensaje...." style="height: 100px;"
                                    id="comentarios"></textarea>
                                <label class="text-muted" for="comentarios">Tu mensaje</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <input type="submit" id="btnSubmit" name="send" class="submitBnt btn btn-primary rounded"
                                value="Enviar mensaje" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

